<h2>About Us</h2>
<div class="a">
  Sorrento's pizzeria is an establishment family owned since 1968.. In 2010 Enrique took over bringing together old Italian recipes alone with the new tasty flavors learned in different fine restaurants, and with the knowledge of pizza making he started to make Sorrento's pizza one of the best pizza places in the state of Nj, over time Sorrento's pizzeria has been recognized as one of the best pizza places by very satisfied customers, alone with Nancy his wife work together to bring freshness, quality, consistency and customers service all together to make this place perfect to bring ur family or to have a good homemade meal delivered to customers doors.
</div>
