<h2>Menu</h2>
<h3>Appetizers</h3>
<table id= "t2">
  <tr>
    <td>Mussels</td>
    <td>   </td>
    <td>$7.95</td>
  </tr>
  <tr>
    <td>Garlic Bread</td>
    <td>   </td>
    <td>$4.75</td>
  </tr>
  <tr>
    <td>Garlic Knots(5 piece)</td>
    <td>   </td>
    <td>$2.00</td>
  </tr>
  <tr>
    <td>Mac and Cheese</td>
    <td>   </td>
    <td>$5.95</td>
  </tr>
  <tr>
    <td>Chicken Nuggets</td>
    <td>   </td>
    <td>$3.95</td>
  </tr>
  <tr>
    <td>Corn Nuggets</td>
    <td>   </td>
    <td>$4.50</td>
  </tr>
  <tr>
    <td>Mozzarella Sticks</td>
    <td>   </td>
    <td>$5.95</td>
  </tr>
  <tr>
    <td>Chicken Tenders</td>
    <td>3 piece-$4.99</td>
    <td>6 piece-$6.99</td>
  </tr>
  <tr>
    <td>Chicken Wings</td>
    <td>6 piece-$5.95</td>
    <td>12 piece-$9.95</td>
  </tr>
</table>
<h3>Pizzas</h3>
<table id= "t1">
  <tr>
    <td>Plain Cheese</td>
    <td>Personal-$6.49</td>
    <td>Medium-$9.00</td>
    <td>Large-$10.99</td>
    <td>Sicilian-$13.49</td>
  </tr>
  <tr>
    <td>White Pizza</td>
    <td>Personal-$8.50</td>
    <td>Mediume-$11.00</td>
    <td>Large-$14.50</td>
  </tr>
  <tr>
    <td>Sorrento Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$18.95</td>
  </tr>
  <tr>
    <td>Veggie Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$16.95</td>
  </tr>
  <tr>
    <td>Meat Lovers Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$17.99</td>
  </tr>
  <tr>
    <td>Margarita Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$15.95</td>
  </tr>
  <tr>
    <td>Hawaiian Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$15.95</td>
  </tr>
  <tr>
    <td>Chicken Fajita Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$16.95</td>
  </tr>
  <tr>
    <td>Eggplant Parmigiana Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$14.50</td>
  </tr>
  <tr>
    <td>Baked Ziti Pizza</td>
    <td>Personal-$9.50</td>
    <td>Medium-$14.50</td>
    <td>Large-$18.95</td>
  </tr>
  <tr>
    <td>BBQ Chicken Pizza</td>
    <td>Personal-none</td>
    <td>Medium-none</td>
    <td>Large-$16.95</td>
  </tr>
</table>
